* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

body {
    font-family: "poppins";
    background-color: #F2F2F2;
}

            /* FONTS */

header,
.checkbox,
.card-footer,
footer {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

h3 {
    font-size: 16px;
    line-height: 24px;
}

            /* END FONTS */

            /* HEADER */

.header-container {
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.header-nav {
    display: flex;
    gap: 40px;
}

.header-nav a {
    position: relative;
    display: block;
}

.header-nav a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: #29B24E;
    left: 0;
    bottom: -8px;
    transform: scale(0);
    transition: 0.5s;
}

.header-nav a:hover::after {
    transform: scaleX(1);
}

.sell-button {
    padding: 13px 26px 13px 26px;
    border-radius: 12px;
    background-color: #29B24E;
    color: #FFFFFF;
}

.header-search {
    display: none;
}

            /* END HEADER */

            /* CHECKBOX MAIN IMAGE */

main {
    max-width: 1500px;
    margin: 0 auto;
}

.checkbox-main-image {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    gap: 20px;
}

.checkbox {
    background-color: #F8F8F8;
    box-shadow: 0px 4px 25px 0px #C2C2C24F;
    border-radius: 24px;
    padding: 30px;
}

.drop-down {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    align-items: center;
    border: 1px solid #0D9CA436;
    border-radius: 10px;
    margin-top: 15px;
}

[type="checkbox"] {
    display: none;
}

[type="checkbox"] + label {
    position: relative;
    padding-left: 20px;
    cursor: pointer;
    display: inline-block;
    color: black;
    line-height: 16px;
}

[type="checkbox"] + label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 15px;
    height: 15px;
    outline: 1.4px solid #29B24E;
    background: #FFFFFF;
}

[type="checkbox"]:checked + label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 15px;
    height: 15px;
    outline: 1.4px solid #29B24E;
    background: #29B24E
}

[type="checkbox"]:checked + label::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
    background-image:url(images/check.png);
    background-size: contain;
}

.Property,
.Price-range {
    margin-top: 40px;
}

.property-checkbox {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
}

.price-range-checkbox{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
}

.property-checkbox span,
.price-range-box span {
    color: grey;
}

.main-image {
    position: relative;
    height: auto;
    border-radius: 24px;
}

.main-image-bg {
    width: 100%;
    height: 100%;
    border-radius: 24px;
}

.main-image-text {
    margin-top: 60px;
    width: 90%;
    position: absolute;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    top: 0;
    left: 50%;
    transform:  translate(-50%);
}

.main-image-title {
    font-size: 48px;
    font-weight: 600;
    line-height: 72px;
}

.title-under {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #000000CC;
}

.search-container {
    margin-top: 25px;
}

.search-bar-main {
    min-width: 300px;
    background-color: #F8F8F8;
    display: flex;
    align-items: center;
    padding: 5px 5px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px 0px #7C7C7C45;
}

.search-bar-main button {
    border: 0;
    background-color: #F8F8F8;
    cursor: pointer;
    padding-right: 15px
}

.search-bar-main input {
    background-color: #F8F8F8CC;
    flex: 1;
    border: 0;
    outline: none;
    padding: 10px 20px;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    font-family: "poppins";
}

            /* END CHECKBOX MAIN IMAGE */

            /* PRODUCT CARDS */

.card-image-relative {
    width: 100%;
    height: auto;
}

.product-cards {
    max-width: 100%;
    padding-bottom: 100px;
}

.main-page-box-title {
    font-size: 18px;
    line-height: 27px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.card-container {
    display: grid;
    max-width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}

.card-box {
    display: flex;
    flex-direction: column;
    background-color: #F8F8F8;
    box-shadow: 0px 4px 18px 0px #C2C2C24D;
    border-radius: 24px;
    padding: 15px;
    gap: 10px;
    transition: 0.3s;
}

.card-box:hover {
    transform: translate(0,-10px);
}

.card-image {
    position: relative;
}

.vip-top {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    color: #FFFFFF;
    position: absolute;
    border-radius: 15px;
    background-color: #29B24E;
    padding: 6px 10px;
    top: 12px;
    left: 10px;
}

.save-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    box-shadow: -2px 4px 20px 0px #6D6D6D40;
    padding: 10px;
    border-radius: 50%;
    bottom: -10px;
    right: 5px;

}

.card-info h3{
    margin-top: 10px;
}

.card-text {
    color: grey;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.card-text-right {
    text-align: right;
    position: relative;
}

.green-text {
    color: #29B24E;
    font-size: 24px;
    line-height: 56px;
    font-weight: 500;
}

.card-text-right::after {
    position: absolute;
    content: "";
    display: block;
    width: 109.7%;
    left: -15px;
    height: 1px;
    background-color: #CFEAD6;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

            /* END PRODUCT CARDS */

            /* FOOTER */

.footer-bg {
    background-color: #29B24E;
    color: #FFFFFF;
    border-radius: 25px;
    box-shadow: 0px 4px 25px 0px #C2C2C21A;
}

.footer-container {
    max-width: 1500px;
    margin: 0 auto;
}

.footer-top {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-nav,
.social-nav {
    display: flex;
    gap: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer-top::after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    bottom: 0;
    height: 1px;
    border-radius: 40px;
    background-color: #D0D0D0;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-right: 30px;
}

            /* FOOTER END */

            /* PRODUCT MAIN PAGE */

.product-main-image-info {
    width: 100%;
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding-bottom: 50px;
    padding-top: 30px;
}

.product-main-image {
    border-radius: 20px;
    width: 100%;
    height: 100%;
}

.product-main-right {
    width: 100%;
    background-color: #F8F8F8;
    box-shadow: 0px 4px 18px 0px #C2C2C24D;
    border-radius: 24px;
    padding: 30px 40px;
}

.product-main-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-vip-top {
    padding: 5px 10px;
    background-color: #29B24E;
    color: #FFFFFF;
    border-radius: 15px;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
}

.product-date,
.product-view {
    font-size: 12px;
    font-weight: 500;
    line-height: 23px;
}

.product-view {
    display: flex;
    align-items: center;
    gap: 5px;
}

.product-main-title {
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 22px;
    font-weight: 600;
    line-height: 33px;
}

.product-main-title-text span {
    color: grey;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.product-main-info {
    font-size: 14px;
    font-weight: 600;
    line-height: 23px;
}

.product-main-title-text p {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
}

.product-main-info {
    position: relative;
    display: flex;
    gap: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.product-main-info::before {
    content: "";
    position: absolute;
    display: block;
    background-color: #ECECEC;
    width: 113%;
    height: 1px;
    top: 0;
    left: -40px;
}

.product-main-info::after {
    content: "";
    position: absolute;
    display: block;
    background-color: #ECECEC;
    width: 113%;
    height: 1px;
    bottom: 0;
    left: -40px;
}

.extra-info-title {
    font-size: 12px;
    font-weight: 400;
    line-height: 23px;
}

.extra-info-text {
    font-size: 14px;
    font-weight: 600;
    line-height: 23px;
}

.product-main-info-extra {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.address,
.estate {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.address-box,
.estate-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.facilities {
    display: flex;
    flex-direction: column;
}

.long-text {
    line-height: 30px;
}

.product-main-price {
    padding-top: 20px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.product-main-price::before {
    content: "";
    position: absolute;
    display: block;
    background-color: #ECECEC;
    width: 113%;
    height: 1px;
    top: 0;
    left: -40px;
}

.green-price {
    color: #29B24E;
    font-size: 36px;
    font-weight: 600;
    line-height: 54px;
}

.price {
    margin-left: 45px;
}

.price-buttons {
    display: flex;
    gap: 15px;
    align-items: center;
}

.sent-message {
    padding: 10px 20px;
    color: #29B24E;
    background-color: #F8F8F8;
    border: 1px solid #29B24E;
    border-radius: 12px;
    transition: all 0.5s;
}

.call {
    padding: 10px 20px;
    color: #29B24E;
    background-color: #F8F8F8;
    border: 1px solid #29B24E;
    border-radius: 12px;
    transition: all 0.5s;
}

.sent-message:hover {
    color: #F8F8F8;
    background-color: #29B24E;
}

.call:hover {
    color: #F8F8F8;
    background-color: #29B24E;
}

            /* END PRODUCT MAIN PAGE */

            /* SIMILAR ADS */

.similar-ads {
    font-size: 22px;
    font-weight: 600;
    line-height: 33px;
}

.similar-ads-card {
    padding-top: 20px;
    padding-bottom: 130px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
}

            /* RESPONSIVE */

@media (max-width: 1440px) {

    .header-container {
        max-width: 1300px;
        margin-bottom: 50px;
    }
    .checkbox-main-image {
        max-width: 1300px;
        margin: 0 auto;
    }

    .main-image-bg {
        object-fit: cover
    }

    .product-cards {
        width: 1300px;
        margin: 0 auto;
    }

    .card-container {
        width: 1300px;
    }

    .footer-container {
        max-width: 1300px;
    }

    .product-main-image-info {
        max-width: 1300px;
        margin: 0 auto;
    }

    .product-main-image {
        object-fit: cover
    }

    .similar-ads-container {
        max-width: 1300px;
        margin: 0 auto;
    }
}

@media (max-width: 1310px) {

    .header-container {
        width: 90%;
    }

    .footer-container {
        max-width: 90%;
    }

    .product-main-image-info {
        max-width: 90%;
    }

    .price {
        margin-left: 0;
    }

    .similar-ads-container {
        max-width: 90%;
    }

    .similar-ads-card {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

}

@media (max-width: 1240px) {



    .checkbox-main-image {
        max-width: 1100px;
        margin: 0 auto;
    }
    
    .main-image-bg {
        object-fit: cover
    }

    .product-cards {
        width: 1100px;
    }

    .card-container {
        width: 1100px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

}

@media (max-width: 1100px) {

    .header-search {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        background-color: #F8F8F8;
        box-shadow: 0px 4px 25px 0px #C2C2C24F;
    }

    .header-nav,
    .search-container,
    .sell-button {
        display: none;
    }

    .header-container {
        max-width: 900px;
    }

    .checkbox-main-image {
        max-width: 90%;
        display: flex;
        flex-direction: column-reverse;
    }

    .main-image-bg {
        width: 100%;
        height: 700px
    }

    .product-cards {
        width: 90%;
    }

    .card-container {
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .email {
        display: none;
    }

    .footer-nav,
    .social-nav {
        flex-direction: column;
        gap: 20px;
    }

    .product-main-image-info {
        display: flex;
        flex-direction: column;
    }
    
}

@media (max-width: 980px) {
    .header-container {
        max-width: 90%;
    }

    .card-container {
        width: 100%;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
}

@media (max-width: 660px) {

    .card-container {
        width: 100%;
        grid-template-columns: 1fr ;
        grid-template-rows: repeat(1fr, 8);
    }

    .similar-ads-card {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }


}

@media (max-width: 567px) {

    .header-container {
        margin-bottom: 20px;
    }

    .main-image-title {
        margin-bottom: 20px;
        font-size: 24px;
        line-height: 36px;
        width: 250px;
    }

    .title-under {
        font-size: 14px;
        line-height: 21px;
    }

    .checkbox-main-image {
        max-width: 100%;
    }

    .main-image {
        max-width: 90%;
        margin: 0 auto;
    }

    .product-main-image-info {
        max-width: 100%;
    }

    .product-main-left {
        max-width: 90%;
        margin: 0 auto;
    }

    .product-main-right {
        width: 100%;
        padding: 10px 15px;
    }

    .product-main-info-extra {
        display: flex;
        flex-direction: column;
    }

    .product-main-info {
        overflow: hidden;
    }

    .address-box,
    .estate-box,
    .facilities {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: right;
    }

    .facilities {
        margin-top: 15px;
    }

    .product-main-price {
        display: flex;
        flex-direction: column;
    }

    .price-buttons {
        margin-top: 50px;
        margin-bottom: 40px;
        display: flex;
        flex-direction: column-reverse;
    }

    .sent-message {
        width: 95%;
        text-align: center;
    }

    .call {
        width: 95%;
        text-align: center;
    }

    .price {
        margin-left: 15%;
    }

}