* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

body {
    font-family: "poppins";
    background-color: #F2F2F2;
}

/* FONTS */

header,
.checkbox,
footer {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

h3 {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

            /* END FONTS */

            /* HEADER */

.header-container {
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.header-nav {
    display: flex;
    gap: 40px;
}

.header-nav a {
    position: relative;
    display: block;
}

.header-nav a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: #29B24E;
    left: 0;
    bottom: -8px;
    transform: scale(0);
    transition: 0.5s;
}

.header-nav a:hover::after {
    transform: scaleX(1);
}

.sell-button {
    padding: 13px 26px 13px 26px;
    border-radius: 12px;
    background-color: #29B24E;
    color: #FFFFFF;
}

.header-search {
    display: none;
}

            /* END HEADER */

            /* CHECKBOX MAIN IMAGE */

main {
    max-width: 1500px;
    margin: 0 auto;
}

.checkbox-main-image {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    gap: 20px;
}

.checkbox {
    background-color: #F8F8F8;
    box-shadow: 0px 4px 25px 0px #C2C2C24F;
    border-radius: 24px;
    padding: 30px;
}

.drop-down {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    align-items: center;
    border: 1px solid #0D9CA436;
    border-radius: 10px;
    margin-top: 15px;
}

[type="checkbox"] {
    display: none;
}

[type="checkbox"] + label {
    position: relative;
    padding-left: 20px;
    cursor: pointer;
    display: inline-block;
    color: black;
    line-height: 16px;
}

[type="checkbox"] + label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 15px;
    height: 15px;
    outline: 1.4px solid #29B24E;
    background: #FFFFFF;
}

[type="checkbox"]:checked + label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 15px;
    height: 15px;
    outline: 1.4px solid #29B24E;
    background: #29B24E
}

[type="checkbox"]:checked + label::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
    background-image:url(images/check.png);
    background-size: contain;
}

.Property,
.Price-range {
    margin-top: 40px;
}

.property-checkbox {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
}

.price-range-checkbox{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
}

.property-checkbox span,
.price-range-box span {
    color: grey;
}

.main-image {
    position: relative;
    height: auto;
    border-radius: 24px;
}

.main-image-bg {
    width: 100%;
    height: 100%;
    border-radius: 24px;
}

.main-image-text {
    margin-top: 60px;
    width: 90%;
    position: absolute;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    top: 0;
    left: 50%;
    transform:  translate(-50%);
}

h1 {
    font-size: 48px;
    font-weight: 600;
    line-height: 72px;
}

.title-under {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #000000CC;
}

.search-container {
    margin-top: 25px;
}

.search-bar-main {
    min-width: 300px;
    background-color: #F8F8F8;
    display: flex;
    align-items: center;
    padding: 5px 5px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px 0px #7C7C7C45;
}

.search-bar-main button {
    border: 0;
    background-color: #F8F8F8;
    cursor: pointer;
    padding-right: 15px
}

.search-bar-main input {
    background-color: #F8F8F8CC;
    flex: 1;
    border: 0;
    outline: none;
    padding: 10px 20px;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    font-family: "poppins";
}

            /* RESPONSIVE */

@media (max-width: 1440px) {

    .header-container {
        max-width: 1300px;
        margin-bottom: 50px;
    }
    .checkbox-main-image {
        max-width: 1300px;
        margin: 0 auto;
    }

    .main-image-bg {
        object-fit: cover
    }

}

@media (max-width: 1240px) {

    .header-container {
        max-width: 1100px;
    }

    .checkbox-main-image {
        max-width: 1100px;
        margin: 0 auto;
    }
    
    .main-image-bg {
        object-fit: cover
    }

}

@media (max-width: 1100px) {

    .header-container {
        max-width: 900px;
    }

    .checkbox-main-image {
        max-width: 900px;
        margin: 0 auto;
    }

    .main-image-bg {
        object-fit: cover
    }
    
}

@media (max-width: 767px) {

    .header-container {
        max-width: 90%;
    }

    .header-nav,
    .search-container,
    .sell-button {
        display: none;
    }

    .header-search {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        background-color: #F8F8F8;
        box-shadow: 0px 4px 25px 0px #C2C2C24F;
    }

    .checkbox-main-image {
        max-width: 90%;
        display: flex;
        flex-direction: column-reverse;
    }

    .main-image-bg {
        width: 100%;
        height: 700px
    }
}

@media (max-width: 567px) {

    .header-container {
        margin-bottom: 20px;
    }

    h1 {
        margin-bottom: 20px;
        font-size: 24px;
        line-height: 36px;
        width: 250px;
        /* border: 1px solid red; */
    }

    .title-under {
        font-size: 14px;
        line-height: 21px;
    }

}

@media (max-width: 567px) {
    
    .checkbox-main-image {
        max-width: 100%;
    }

    .main-image {
        max-width: 90%;
        margin: 0 auto;
    }
}

